<%- include('header') -%>
<script>
    //get a min day for date_input today
    window.onload = function(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
    dd = '0' + dd
    }

    if (mm < 10) {
    mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById('date_input').setAttribute("min", today);
    }
//---------------------------------------------------------------
</script>

<h1>Create Event</h1>
<form action="/create_event" id="create_event_form" method = "post">
    <div>
        <span>Title:</span>
        <input type="text" name="Title" placeholder="Events Title" autofocus required/>
    </div>

    <div>
        <span>Date:</span>
        <input id="date_input" type="date" name="Date_ev"/>
    </div>
    
    <div>
        <span>Max Tickets:</span>
        <input type="number" name="Max_Tickets"/>
    </div>
    
    <div>
        <span>Link Image: </span>
        <input type="text" name="Link_Image"/>
    </div>

    <div>
        <span>Description:</span>
        <textarea type="textarea" name="Description" rows="15" cols="40" placeholder="You can type in markdown text. Make sure to write it properly"></textarea>
    </div>
    

    <button type="Submit" name="submit">Create</button>

</form>

<%- include('footer') -%>